
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(228, 233, 233);
  width: 40%;
  padding: 2rem;
}

.field {
  flex: 0 0 calc(50% - 1rem);
  margin-bottom: 0.9rem;
}


label {
  display: block;
  margin-bottom: 0.5rem;
}

.instructions {
  margin-bottom: 0.9rem;
  height: 6em;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}

.button-container {
  margin-left: 2.5rem;
}

/*
button[type="submit"] {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid darkblue;
  border-radius: 4px;
  background: darkblue;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

button[type="submit"]:hover {
  background-color: #bfc0c2;
}
*/
