.page__header {
  font-family: 'Courier New';
  font-size: 3rem;
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.page__text {
  font: Verdana;
  color: black;
  line-height: 1.6;
}

.error-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin: 1.5rem;
}

.direction-button-container {
  display:flex;
  justify-content: center;
  gap: 5rem;
  margin: 1.5rem;
}